/* Réglages généraux du corps de la page */
body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
}

/* Style de la Navbar */
.navbar {
    background-color: #FFFFFF;
    height: 104px;
    width: 100%;
}

/* Style pour le texte d'exemple */
.description-text {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;       
    font-size: 16px;        
    line-height: 1.6;           
    text-align: center;       
    max-width: 600px;           
    margin: 40px auto 0 auto; 
}